<div class="row">
  <div class="col-xs-12">
    <img src="{{ recepie_details.imagePath }}" style="max-height: 200px;" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>{{ recepie_details.name }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="button-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recepie <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Add Ingridients</a></li>
        <li><a href="#">Edit Recepie</a></li>
        <li><a href="#">Delete Recepie</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recepie_details.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
